# FastAPI
fastapi
uvicorn[standard]

# Database
sqlalchemy
pymysql
alembic

# Environment and validation
pydantic-settings
python-dotenv
email-validator

# Password and JWT
bcrypt
PyJWT

# Upload file - bonus
python-multipart
aiofiles

# Rate limit - bonus
slowapi

# Testing
pytest
httpx